# Que 1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
hello
-87.8
-
/
+
6

Ans:-

* => Expression
'hello' => Value
-87.8 => Value
- => Expression
/ => Expression
+ => Expression
6 => Value

# Que 2. What is the difference between string and variable?

Ans :- STRING - String is a datatype that can contain single or group of number or characters,special characters and                       numeric value enclose within single or double quotes.
     
       VARIABLE - Variable is an entity that can store an information which is callable at any point to use stored                           information
     
 eg.  
   var_1 = "abcdefgh"
   In the above example there 'var_1' is a variable that has stored the value of string 'abcdefdh'.

# Que 3. Describe three different data types.

There are following datatype in python:
*Boolean, Int, Float*

int => The Int datatype holds the value of  numerical.
float => Float datatype holds the value for decimal numerical 
boolean => Boolean datatype contains the value of true or false , that can denoted by keyward 'True' and 'False'

In [1]:
# eg.
num_int = 12356
print(num_int, type(num_int))

num_float = 123.56
print(num_float, type(num_float))

num_bool = 'True'
print(num_bool, type(num_bool))

12356 <class 'int'>
123.56 <class 'float'>
True <class 'str'>

# Que 4. What is an expression made up of? What do all expressions do?

Expression=> Expression is the combination of operators and values that perform the mathematical as well  as non                        mathematical operations depending upon the datatype and gives us the result.

In [4]:
#eg.
a= 10
b = 12

c = a + b 
print(c)

22

# Que 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Statement - Statements represent an action or command. 
Here, 
    spam = 10 
In above statement, spam is an variable that assignning the value as 10.
 
Expression - Expression is a combination of variables, operations and values that yields a result value.

Some expressions may be statement, and Some code can be both an expression or a statement, depending on the context.

# Que 6. After running the following code, what does the variable bacon contain- bacon = 22, bacon + 1

In [1]:
bacon = 22
bacon + 1

23

Aftre fetching the above code, variable bacon contain the value as 23. In python until we not updated the previous value its not get changed. so in this line 1, value of bacon is 22 and after running the 2 nd expression value of bacon assigning from 1st statement and finall value of bacon will 23.

# 7. What should the values of the following two terms be? 'spam' + 'spamspam' , 'spam' * 3

In [6]:
'spam' + 'spamspam'

'spamspamspam'

In [7]:
'spam'*3

'spamspamspam'

From above two statement the result of both the expressions will same. 
In 1st case it performed the concatenation operation of strings. While in 2nd case it performed the multiplication operation of string.


# Que 8. Why is eggs a valid variable name while 100 is invalid?

Variable name 'eggs' is valid because in naming rules of variable, variable name can start with character , '_' or it may be the combination of charactor or numbers, but it never start with the number or it may not be a number as variable.

In [5]:
eggs = 20

In [6]:
eggs

20

In [7]:
358 = 'rekha'

SyntaxError: cannot assign to literal (450413528.py, line 1)

# Que 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

There are following three functions to get integer, floating point number and string:
1) Integer -> int()
2) Floating point -> float()
3) string -> str()

In [1]:
a= '12'
b= 1.25
c= '12'
print('int(a) :', a , type(a))
print('b :', float(b), type(b))
print('c :', str(c), type(c))

int(a) : 12 <class 'str'>
b : 1.25 <class 'float'>
c : 12 <class 'str'>

In [9]:
a = int(input('enter integer no : '))
b = float(input( 'enter floating no : '))
c = str(input('enter string : '))

print(a, type(a))
print(b, type(b))
print(c, type(c))

enter integer no : 25
enter floating no : 25.25
enter string : kjh
25 <class 'int'>
25.25 <class 'float'>
kjh <class 'str'>

# Que 10. Why does this expression cause an error? How can you fix it? 'I have eaten' + 99 + 'burritos'.

The above expression is of string concatenation. But in that 99 is an integer, so we have to typecast int to string and then we can execute the expression.

In [3]:
'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

In [8]:
'i have eaten' + ' '+ str(99) + ' ' + 'burritos'

'i have eaten 99 burritos'